.nav-link{
    background-color: rgb(207, 182, 220);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    border-color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 7vw;
    margin: 0.3rem;
    font-size: 14px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 2px 1px 2px rgb(146, 97, 146);
    align-items: center;
    display: flex;
    justify-content: center;
    
}
table{
    

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: separate;
    
   
}

.fila{
    height: 2rem;
    background-color: rgb(207, 182, 220);
}
th, tr{
    border: 1px solid black;
    width: 20rem;
    height: 1rem;
    background-color: rgb(248, 248, 248);
   
    
   
}
.d-flex {
    display: flex!important;
    flex-wrap: wrap;
}

.card{
    border: 0.3rem solid;
    border-color: rgb(157, 107, 203);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    --bs-card-bg: #ecdaff;
    font-size: 13px;
}

.btn-outline-success {
    --bs-btn-color: #87196f;
    --bs-btn-border-color: #671067;
    --bs-btn-active-bg: #a144a2;
    --bs-btn-hover-bg: #a144a2;
    --bs-btn-hover-border-color: #a144a2;
    --bs-btn-active-border-color: #a144a2;
    --bs-btn-disabled-border-color: #a144a2;
}
    
.lupa{
    width: 20px;
    height: 20px;
}

.card-img-top{
    border-radius: 0px;
    width: 230.7px;
    height: 120px;
    
}

.precioyboton{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.carousel-inner{
    background-color: rgb(4, 3, 5);
    width: 100%;
    border: 4px solid rgb(163, 26, 188);
    font-size: 30px;
    color: white;
    text-align: center;
}
    
.navbar-nav{
    --bs-nav-link-padding-y: 0rem;
}

main{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.navbar{
    display: flex;
    --bs-navbar-nav-link-padding-x: 0rem;
    justify-content: space-between;
}
.navbar-brand{
    background-color: rgb(220, 209, 226);
    padding: 10px 25px;
    border: 2px solid red;
    border-radius: 50px;
    border-color: rgb(151, 140, 140); 
    text-align: center;
}

a{
    text-align: center;
    padding: 1rem;
}

.imglogo{
    width: 120px;
    
}
.cat{
    margin-left: 5rem;
    font-family: cursive;
    font-size: 13px;
    margin: 2rem;
    gap: 1rem;
    font-weight: bold;
}

.d-block{
    font-family: cursive;
    text-shadow: 2px 1px 2px rgb(214, 170, 214);
    font-size: 40px;
}


footer{
    background-color: rgb(207, 180, 222);
    width: 100vw;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: space-between;
   
   
}
.fin{
    display: flex;
    flex-wrap: wrap;
}
.foot{
    margin-left: 1rem;
}
.ig{
    
    margin: 0.5rem;
    width: 2rem; 
    height: 2rem;
}

.ro{
    
    width: 35vw;
    border-radius: 10px;
    border: 5px solid #a144a2;
    margin: 1rem;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
   
    
}
.opinion{
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin-top: 2rem;

}
.req{
    color: red;
}
.text-center{
    text-align: initial;
}

.b{
    background-color: rgb(207, 182, 220);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    border-color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 7vw;
    margin: 0.3rem;
    font-size: 14px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 2px 1px 2px rgb(146, 97, 146);
}

.msj{
    width: 10rem;
    font-family: cursive;
    font-size: 14px;
    width: 20vw;
    height: 10vh;
}
.mb-3{
     
    background-color: #f9e6f9;
    border: #671067;
    margin-bottom: 0rem!important;
    padding: 1rem;
    font-size: 20px;
    font-family: cursive;
}
.nym{
    width: 22vw;
}
.cohor{
    margin-right: 2.5rem;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    text-shadow: 2px 1px 2px rgb(112, 15, 112);
   
}

.ver{
    
    font-family: cursive;
    text-shadow: 2px 2px 3px #f9e6f9;
}
*{
    
    margin: 0;
    padding: 0;
    
}

.btn-secondary {
    --bs-btn-color: #000000;
    --bs-btn-bg: rgb(157, 107, 203);
      font-size: 13px;
   
     --bs-btn-border-color: #671067;
    --bs-btn-active-bg: #4f4c4f;
    --bs-btn-hover-bg: #84239f;
    --bs-btn-hover-border-color: #a144a2;
    --bs-btn-active-border-color: #a144a2;
    --bs-btn-disabled-border-color: #a144a2;
    border: 2px solid rgb(67, 65, 69);
}

.card-text{
    font-size: 12px;
    font-family: cursive;
}
.card-title{
    font-family: cursive;
    font-weight: bold;
    text-shadow: 2px 1px 2px rgb(146, 97, 146);
    font-size: 13px;
}

.precio{
    font-size: 12px;
    font-family: cursive;
}

.form-label{
    font-family: cursive;
    font-weight: bold;
    text-shadow: 2px 1px 2px rgb(167, 140, 167);   
}

.contain{
    display: flex;
    flex-direction: column;
    
    height: 70vh;
    flex-wrap: wrap;
    align-content: space-around;
    gap:2rem;


}

.col{
    margin:2rem;
}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items: stretch;
    flex-wrap: wrap;

}

.detalle{
    display: flex;
    border: 15px groove rgb(146, 80, 211);
    width: 60vw;
    height: 60vh;
    align-items: center;
    background-color: rgb(233 222 238);
    border-radius: 6px;
    border-color: #84239f;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    gap:4rem;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 2px 1px 2px rgb(146, 97, 146);
}

figure{
  
    margin: 1rem;
 
}

.titulo{
    width: 330px;
    height: 300px;
    border: 2px solid #84239f;
    border-width: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 530px){
    .card{
        
        width: 100%;
    }
    .contain{
      height: 130vh;
    }


}

@media (max-width: 992px){
   .nav-link{
    width: 80px;
   }
   
   .navbar-collapse {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: flex-end;
}
}

